    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/admin/css/base.css">
    <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
    <script src="/static/admin/js/theme.js" defer></script>
    <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer></script>
    <link rel="stylesheet" href="/static/admin/css/dashboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
